.images-horizontal-scroll-div {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  position: relative;
  transition: 500ms;
  max-height: 400px;
}

.images-horizontal-scroll-div img {
  object-fit: cover;
  width: 500px;
  padding: 20px;
}

.images-scroll-div-outer {
  display: flex;
  max-height: 400px;
}
.images-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  max-height: 400px;
}
.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 600px) {
  .arrow-container {
    display: none;
  }
  .images-horizontal-scroll-div img {
    object-fit: cover;
    width: 500px;
    padding: 0px;
  }
  .images-horizontal-scroll-div img:not(:last-of-type) {
    padding: 0px;
    padding-right: 20px;
  }
}
