.images-horizontal-scroll-div {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  position: relative;
  transition: 500ms;
  max-height: 400px;
}

.images-horizontal-scroll-div img {
  object-fit: cover;
  width:400px;
}

.images-scroll-div-outer {
  display: flex;
  max-height: 400px;
}
.images-wrapper {
  overflow-x: scroll;
  scroll-behavior: smooth;
  max-height: 400px;
}
.images-wrapper::-webkit-scrollbar {
  display: none;
}
