.work-experience-div {
  background: #ececec;
  padding-top: 100px;
  padding-bottom: 100px;
}

.work-experience-header {
  color: #17a2b8;
  margin-bottom: 100px;
}

.work-experience-item {
  margin-bottom: 100px;
}
.work-experience-item:last-of-type {
  margin-bottom: 0px;
}
.work-experience-img {
  width: 200px;
  height: auto;
}
.horizontal-scroll-area {
  margin-top: 50px;
  height: auto;
  overflow: hidden;
}
.horizontal-scroll-area .slide img {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .work-experience-img-container {
    display: flex;
    justify-content: center;
  }
  .work-experience-img {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .horizontal-scroll-area .thumbs-wrapper {
    display:none;
  }
}
