.active {
  color: white;
}

.nav-link-home, .nav-link-projects {
  margin-right: 25px;
}
.nav-contact{
  padding:.5rem;
  padding-left:30px;
  padding-right:30px;
  background:#17a2b8;
  color:white;
}
.nav-contact:hover{
  background:#127d8d;
  cursor:pointer;
}
.navbar-main {
  background:transparent !important;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 10000;
  margin-top:50px;
  transition:500ms;
}
.whiteBackground{
  background:white !important;
  transition:500ms;
}
.navbar-brand {
  font-size:2rem;
  color: #17a2b8 !important;
  letter-spacing: 5px;
}
.navbar-down {
  position: fixed;
  top: 0px;
  background: none;
  border: none;
  font-size: 3rem;
  width: 100px;
  text-align: center;
  transition: 0.3s;
  z-index:11000;
}

.navbar-down:hover {
  color: #0131b5;
}

.navbar-up {
  background: none;
  border: none;
  color:white;
  font-size:2rem;
  transition: 0.3s;
}
.navbar-up:hover {
  color: lightgray
}

@media (max-width:1000px){
  .navbar-brand {
    font-size:1.5rem;
    letter-spacing: 2.5px;
  }
  .navbar-main{
    margin-top:0px;
  }
  .nav-contact{
    width:130px;
    text-align: center;
  }
}