.footer-div {
    background: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-div h1{
    font-family: 'Bree Serif', serif;
    color: rgb(23, 162, 184);
}
.footer-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.footer-links {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-end;
}

.footer-texts {
    display: flex;
    justify-content: space-between;
}
.footer-button {
    margin-bottom:10px;
}

.footer-link{
    color:black;
}
.footer-link:hover{
    color:rgb(23, 162, 184);;
    text-decoration: none;
}
.footer-link:focus{
    outline: none;
    color: rgb(23, 162, 184);   
}

@media (max-width:800px){
    .footer-links{
        align-items: flex-start;
        margin-top:50px;
    }
    .footer-texts{
        flex-direction: column;
    }
}