.portfolio-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-outer-div {
  padding-bottom: 100px;
}
.portfolio-landing {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  overflow: hidden;
}
.portfolio-landing h1 {
  position: relative;
  font-family: 'Bree Serif', serif;
  color: #17a2b8;
  z-index: 10;
}
#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 20s linear 0s infinite;
  color: white;
}
.language-css {
  color: rgb(192, 192, 192);
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}
.portfolio-project-div img {
  max-width: 100%;
  border: 1px solid #17a2b8;
}
.portfolio-project-div {
  width: 322px;
  margin: 20px;
  position: relative;
  flex-grow: 1
}

.portfolio-hashtags {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-hashtag {
  margin-right: 10px;
  color: #17a2b8;
}
.portfolio-visit{
  width: 100%;
  border-radius: 0%;
  margin-bottom:20px;
}
@media (max-width: 1000px) {
  .portfolio-landing{
    margin-bottom: 20px;
  }
}
